@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

/* Elementos de la lista */
.elementoLista {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}
